<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon">
    <title>Consulta - Consultar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/imagenquintomolino.jpeg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            color: #fff;
        }
        .container {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
        }
        h1, h2, label, th, td { /* Aplica el color claro a todos estos elementos */
            color: #ffffff;
        }
        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo-container img {
            max-width: 100px; /* Puedes ajustar el tamaño según necesites */
        }
        .table-container {
            overflow-x: auto; /* Permite desplazamiento horizontal */
        }
        table {
            min-width: 100%; /* Asegura que la tabla ocupe todo el ancho posible */
        }
    </style>
</head>
<body>
    <div class="container my-5">
        <div class="logo-container">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </a>
        </div>
        <h1 class="text-center">Consultar Soldador por RUT o Nombre</h1>

        <!-- Mostrar mensajes de flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('consultar') }}" method="post">
            <div class="form-group">
                <label for="criterio">Buscar por</label>
                <select id="criterio" name="criterio" class="form-control" required>
                    <option value="">Seleccione un criterio</option>
                    <option value="RUT">RUT</option>
                    <option value="NOMBRE">Nombre</option>
                </select>
            </div>
            <div class="form-group">
                <label for="valor">Valor</label>
                <input type="text" id="valor" name="valor" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Consultar</button>
            <a href="{{ url_for('index') }}" class="btn btn-primary">Volver al inicio</a>
        </form>

        {% if trabajadores %}
            <h2 class="mt-4">Detalles del Soldador</h2>
            <div class="table-container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>N° ESTAMPA</th>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>Turno</th>
                            <th>Cargo</th>
                            <th>Alcance</th>
                            <th>Estampa</th>
                            <th>Fecha de Calificación</th>
                            <th>Informe de Laboratorio</th>
                            <th>Estado de Pago CESMEC</th>
                            <th>Habilitado para Soldar</th>
                            <th>Rango de Diámetros o Espesores</th>
                            <th>WPQ AVA</th>
                            <th>Posición Calificada</th>
                            <th>Material Base</th>
                            <th>Aporte</th>
                            <th>Proceso</th>
                            <th>Norma</th>
                            <th>WPS</th>
                            <th>PQR</th>
                            <th>Estatus</th>
                            <th>Contratado/Finiquitado o No Habilitado</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trabajador in trabajadores %}
                            <tr>
                                <td>{{ trabajador.NUMERO_ESTAMPA }}</td>
                                <td>{{ trabajador.RUT }}</td>
                                <td>{{ trabajador.NOMBRE }}</td>
                                <td>{{ trabajador.TURNO }}</td>
                                <td>{{ trabajador.CARGO }}</td>
                                <td>{{ trabajador.ALCANCE }}</td>
                                <td>{{ trabajador.ESTAMPA }}</td>
                                <td>{{ trabajador.FECHA_CALIFICACION }}</td>
                                <td>{{ trabajador.INFORME_LABORATORIO }}</td>
                                <td>{{ trabajador.ESTADO_DE_PAGO_CESMEC }}</td>
                                <td>{{ trabajador.HABILITADO_PARA_SOLDAR }}</td>
                                <td>{{ trabajador.RANGO_DE_DIAMETROS_O_ESPESORES }}</td>
                                <td>{{ trabajador.WPQ_AVA }}</td>
                                <td>{{ trabajador.POSICION_CALIFICADA }}</td>
                                <td>{{ trabajador.MATERIAL_BASE }}</td>
                                <td>{{ trabajador.Aporte }}</td>
                                <td>{{ trabajador.PROCESO }}</td>
                                <td>{{ trabajador.NORMA }}</td>
                                <td>{{ trabajador.WPS }}</td>
                                <td>{{ trabajador.PQR }}</td>
                                <td>{{ trabajador.ESTATUS }}</td>
                                <td>{{ trabajador.CONTRATADO_FINIQUITADO_O_NO_HABILITADO }}</td>
                                <td>{{ trabajador.OBSERVACIONES }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ url_for('trabajadores') }}" class="btn btn-secondary mt-3">Volver al listado</a>
            <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Volver al inicio</a>
        {% endif %}
    </div>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Script de Validación del RUT -->
    <script>
        function validarRUT(rut) {
            rut = rut.replace(/\./g, '').replace(/-/g, '').toUpperCase();
            if (rut.length < 2) {
                return false;
            }
            var cuerpo = rut.slice(0, -1);
            var dv = rut.slice(-1);
            var suma = 0;
            var multiplicador = 2;
            for (var i = cuerpo.length - 1; i >= 0; i--) {
                suma += parseInt(cuerpo.charAt(i)) * multiplicador;
                multiplicador = multiplicador < 7 ? multiplicador + 1 : 2;
            }
            var dvCalculado = 11 - (suma % 11);
            if (dvCalculado === 11) {
                dvCalculado = '0';
            } else if (dvCalculado === 10) {
                dvCalculado = 'K';
            } else {
                dvCalculado = dvCalculado.toString();
            }
            return dv === dvCalculado;
        }

        document.querySelector('form').addEventListener('submit', function(e) {
            var rutInput = document.getElementById('valor').value;
            if (document.getElementById('criterio').value === 'RUT' && !validarRUT(rutInput)) {
                e.preventDefault();
                alert('RUT inválido. Por favor, ingrese un RUT válido.');
            }
        });
    </script>
</body>
</html>
